ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "\02023";
    padding-right: 5px;
    margin-left: 25px;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.position {
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
}